.container{
    
    border: 10px solid rgb(0, 0, 0);
    width: 26vw;
    height: 90vh;
    margin: 20px auto;
    background-color: rgb(182, 255, 199);
    border-radius: 50px;
}

li{
    list-style: none;
    font-size: 24px;
    /* padding: 50px; */
}

.fa-music{
    padding: 50px;

    /* margin-top: 20px; */
}

#progress{
    display: block;
    width: 95%;        
    margin: 10px auto;
    outline: none;
}

#backwardBtn, #playBtn, #forwardBtn{
    padding:20px;
    margin: 10px;
    margin-top: 10px;
    width: 100px;
    font-size: 50px;
    border:none;
    background-color: transparent;

}

.allBtns{
    display: flex;
    justify-content: center;
    
}

